main {
    padding-top: 100px;
}

.bg-image {
    opacity: 0.3;
}

.contents {
    position: relative;
}

.contents p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 30px;
    text-align: center;
    width: 300px;
}

.post-form label {
    max-width: 150px;
}

.body-form textarea {
    height: 200px;
}

.question_tag {
    font-size: small;
}

.question_body {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.answer-form textarea {
    height: 250px;
}

.profile-block {
    padding: 0;
}

.user-profile {
    max-width: 510px;
}

.user-question {
    max-width: 510px;
}



